<nav class="navbar navbar-inverse" style="margin-bottom: 0!important;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="font-size:30px;">BloggyMan</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/" style="font-size:24px;">Home</a></li>
      <li><a href="/write-blog/" style="font-size:24px;">Write Blog</a></li>
      <li><a href="/my-blogs/" style="font-size:24px;">My Blogs</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register/" style="font-size:24px;"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li><a href="/login/" style="font-size:24px;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="/logout/" style="font-size:24px;"><span class="glyphicon glyphicon-circle-arrow-right"></span> Logout</a></li>
    </ul>
  </div>
</nav>